*{
    margin: 0%;
    font-family: sans-serif;
}
.body-regis{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}
.Register-container{
    width: 400px;
    height: fit-content;
}
.logo{
  text-align: center;
  margin-bottom: 50px;
}
.HHhh1{
    text-align: center;
    font-size: 38px;
    color: #000000;
}
.banner p{
    text-align: center;
    font-size: 18px;
    padding: 10px;
   
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    border-radius: 12px;
    padding: 20px;
  
   
  }
  
  .TITTLE {
    font-size: 25px;
    font-weight: bold;
    color: black
  }
  
  .message {
    color: #a3a3a3;
    font-size: 16px;
    margin-top: 4px;
    text-align: center
  }
  
  .inputs {
    margin-top: 10px
  }
  
  .inputs input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #000000;
    margin: 0 10px;
    background: transparent;
    font-size: 15px;
  }
  
  .inputs input:focus {
    border-bottom: 1.5px solid royalblue;
    outline: none;
  }
  
  .action {
    margin-top: 24px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    align-self: end;
  }
.blob{
    mix-blend-mode:darken;
    filter: blur(30px);
    background:rgb(196, 252, 196);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
  z-index: -1;
  transition: top 3s, left 3s;
}

.blob1{
    mix-blend-mode:darken;
    filter: blur(30px);
    background:rgb(146, 240, 255);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
  z-index: -2;
  transition: top 3s, left 3s;
}
.blob2{
    mix-blend-mode:darken;
    filter: blur(30px);
    background:linear-gradient(45deg,rgb(247, 123, 144),pink);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
  z-index: -3;
  transition: top 3s, left 3s;
}
  @media only screen and (min-width:1024px) {

    .body-regis{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }
   
  }