.container{
    width: 100%;
    height: 100vh;
   
}
.SUB-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

}
.FORms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  .head{
    text-align: center;

    
  }
  .title {
    font-size: 35px;
    color: rgb(60, 119, 93);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(126, 215, 178);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color:rgb(60, 119, 93);
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 20px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 10px;
  }
  .FORms  .input {
    width: 100%;
    height: 50px;
    outline: 0;
    font-size: 20px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
  }
  .form-body{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .SEND-DATA {
    border: none;
    outline: none;
    height: 50px;
    background-color:rgb(60, 119, 93);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    transform: .3s ease;
    width: 100%;
  }
  
  .SEND-DATA:hover {
    background-color: rgb(56, 148, 99);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  @media only screen and (min-width:350px) {
    .SEND-DATA{
        display: block;
        margin-top: 0%;
        margin-left: 0%;
    }
    
  }