.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
   
}
.sub{
  width: fit-content;
  height: 100vh;
}
.welcome{
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}
.head{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 50px;
}
.body{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: fit-content;
}
#email{
    width: 86%;
    margin-bottom: 30px;
    height: 50px;
    font-size: 25px;
    position: relative;
    left: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 10px;
}

.p{
    font-size: 20px;
    margin-left: 10px;
    color: #4db597;
    cursor: pointer;
    margin-top: 5px;
}
#email::placeholder{
    color: #000000;
}
.inputBox {
    position: relative;
  }
  
  .inputBox input {
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: rgb(4, 4, 4);
    width: 80%;
    margin-left: 10px;
    border: 1px solid#424343;
    font-size: 1em;
  }
  .icons{
    position: absolute;
    left: 300px;
    top: 10px;
    color: #000000;
  }
  .inputBox span {
    position: absolute;
    left: 0;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
    color: #000000;
    font-size: 25px;
    letter-spacing: 0.1em;

  }
  
  .inputBox input:focus ~ span,
  .inputBox input:valid ~ span {
    font-size: 20px;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 5px;
    border-radius: 2px;
    background: #ffffff;
    letter-spacing: 0em;
    color: #4db597;
  }

  .inputBox:focus{
    border-color: #4db597;
  }


  .Sumnit{
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
    height: 49px;
    font-size: 26px;
    background-color: #4db597;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    display: block;
}
.dont{
    margin-left: 20px;
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
}
span{
    color: #4db597;
}
span:hover{
    text-decoration: underline;
}

@media only screen and (min-width:800px) {

  #email{
    width: 300px;
  }
  .inputBox input{
    width: 280px;
  }
  .Sumnit{
    width: 320px;
  }
  
}